body {
    background-color: #fdfdfd;
  }
  
  .navbar {
    background-color: #5dade2;
  }
  
  .navbar a {
    color: white !important;
  }

  .navbar-custom {
    background-color: #5dade2; /* Cambia este color al que prefieras */
}
  
  .jumbotron {
    background-color: #f1f1f1;
    padding: 2rem;
    border-radius: 10px;
  }
  .card {
    margin-top: 20px;
  }
  
  .card-body img {
    margin-bottom: 20px;
  }
  
  .progress-bar {
    background-color:#5dade2;
  }
 
